<!-- conditional-rendering authorbox or blank -->
{% if author.name != "_blank" %}
<div class="special-detail-member-group">
    <div class="special-member-each-box">
        <div class="special-img">
            {% if site.lazyimages == "enabled" %}
            {% assign className = className | append: " lazyimg" %}
            <img class= "{{ className }}"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII="
                data-src="https://github.com/{{author.github}}.png" alt="{{ author.name }}">
            {% else %}
            <img class= "{{ className }}" src="https://github.com/{{author.github}}.png" alt="{{ author.name }}">
            {% endif %}
        </div>

        <div class = "special-member-body">
            <div class = "special-img-box">
                <img class = "special-dsc-img" src = assets/images/dsclogo.png>
            </div>
            <h2 class="special-title">
                <span class="top-author-name">{{ author.name }}</span>
            </h2>
            <h3 class = "special-alumni-term">
                <span class="top-author-name">{{ author.comment }}</span>
            </h3>
            <div class="special-icon-wrapper">
                <span class="special-icon"><a class="link-dark" href="mailto:{{ author.email }}"><i
                            class="far fa-envelope"></i></a></span>
                <span class="special-icon"><a class="link-dark" href="https://github.com/{{ author.github }}"><i
                            class="fab fa-github"></i></a></span>
                {% if author.web %}
                <span class="special-icon"><a class="link-dark" href="{{ author.web }}"><i
                            class="fas fa-blog"></i></a></span>
                {% endif %}
            </div>

        </div>
    </div>

    <div class='section-title'>
        <h2>
            <span class='active'>후원 내역</span>
        </h2>
    </div>          
</div>

{% else %}
<div class="col-lg-3 mb-30px author-blank"></div>

{% endif %}
<!-- end post -->


<script>
    
</script>