---
layout: default
---

<section>
    <div class='section-title'>
        <h2>
            <span class='active'>{{ page.title }}</span>
        </h2>
    </div>

    <div class='article-post'>
        {{content}}
    </div>
    
    <div class = 'special-alumni-background'>
        <h4><span><b>Specialist</b></span></h4><br/>
        {% assign specials = site.data.special | where: 'special', 'true' %}
        {% for author in specials %}
            {% if author.special == true %}
                <div class = 'special-alumni-each'> {% include specialbox.html %}
                    <details class = 'special-detail'>
                        <summary class="fas fa-align-justify"> 후원 내역 </summary>
                        <p class = 'special-detail-content'> {{ author.content}} </p>
                    </details>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <script>
        /* Slide */
        const tabs = {
            about: document.querySelector('.section-title .active'),
            alumni: document.querySelector('.section-title .deactive')
        }
        const infoContainer = document.querySelector('.member-alumni-container');
        const memberContainer = document.querySelector('.member-info-container');
        const alumniContainer = document.querySelector('.alumni-info-container');
        tabs.about.addEventListener('click', (e) => {
            tabs.about.classList.add('active');
            tabs.alumni.classList.remove('active');
            memberContainer.classList.add('slide-right');
            alumniContainer.classList.add('slide-right');
            memberContainer.classList.remove('slide-left');
            alumniContainer.classList.remove('slide-left');
        });
        tabs.alumni.addEventListener('click', (e) => {
            tabs.about.classList.remove('active');
            tabs.alumni.classList.add('active');
            memberContainer.classList.remove('slide-right');
            alumniContainer.classList.remove('slide-right');
            memberContainer.classList.add('slide-left');
            alumniContainer.classList.add('slide-left');
        });
    </script>
</section>
