---
title: "Test"
layout: default
permalink: "/Test.html"
---

<div class="row listrecent">
    {% for tag in site.Test %}
    <div class="section-title col-md-12 mt-4">
    <h2 id="{{ Test[0] | replace: ' ','-' }}">Test <span class="text-capitalize">{{ Test[0] }}</span></h2>
    </div>
    {% assign pages_list = Test[1] %}
    {% for post in pages_list %}
    {% if post.title != null %}
    {% if group == null or group == post.group %}
    {% include postbox.html %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
    {% endfor %}
    </div>